<!doctype html>
<html lang="en">

<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.0.0/dist/css/bootstrap.min.css"
        integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <link rel="stylesheet" href="/templates/static/style.css">

    <title>SpotiBuddy</title>
</head>

<body>
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
        <a class="navbar-brand" href="/">SpotiBuddy</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavDropdown"
            aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNavDropdown">
            <ul class="navbar-nav">
                <li class="nav-item">
                    <a class="nav-link active" href="/Stats">Stats</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link active" href="/Dtracks">Download Tracks<span class="sr-only">(current)</span></a>
                </li>
                <li class="nav-item">
                    <a class="nav-link active" href="/Dplaylists">Download Playlists</a>
                </li>
            </ul>
            <ul class="navbar-nav ml-auto">
                <li class="nav-item">
                    <button type="button" class="btn btn-secondary">Source code</button>
                </li>
            </ul>
        </div>
    </nav>
    <h1 class="title-text">Welcome To</h1>
    <h1 class="title-text-name">SpotiBuddy</h1><br><br>
    <h2 class="desc-line-1">this is a webapp for all your spotify needs!</h2>
    <h2 class="desc-line-2">with this you can download your playlists, various tracks and last but not the least see
        your
        stats!</h2>
    <h1 class="have-fun">HAVE FUN :)</h1>
    <h2 class="ty-text">made with ❤️ by Realhardik18</h2>
</body>

</html>