<!doctype html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.0.0/dist/css/bootstrap.min.css"
        integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <link rel="stylesheet" href="/static/styles/style.css">
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js"
        integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN"
        crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.12.9/dist/umd/popper.min.js"
        integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q"
        crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.0.0/dist/js/bootstrap.min.js"
        integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl"
        crossorigin="anonymous"></script>
    <title>SpotiBuddy</title>
</head>

<body>
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
        <a class="navbar-brand" href="/">SpotiBuddyᵇᵉᵗᵃ</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavDropdown"
            aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNavDropdown">
            <ul class="navbar-nav">
                <li class="nav-item">
                    <a class="nav-link active" href="/Stats">Stats</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link active" href="/Dtracks">Download Tracks<span class="sr-only">(current)</span></a>
                </li>
                <li class="nav-item">
                    <a class="nav-link active" href="/Showcase">Showcase Your Playlists</a>
                </li>
            </ul>
            <ul class="navbar-nav ml-auto">
                <li class="nav-item">
                    <a class="text-light" href="{{link_to_me}}">Logged in as {{user}}</a>
                </li>
            </ul>
        </div>
    </nav>
    <div class="card" style="margin-top:20px;margin-left:50px;margin-right:50px;margin-bottom:20px;">
        <h5 class="card-header">Your Top Artists 🎤</h5>
        <div class="card-body">
            <h5 class="card-title">Lets see whose songs are you looping right now 👀</h5>
            <p class="card-text">You can check the top artists for the past 4 weeks, 6 months or lifetime!</p>
            <a href="/Stats/Artist/four-weeks" class="btn btn-success">4 weeks</a>
            <a href="/Stats/Artist/six-months" class="btn btn-primary">6 months</a>
            <a href="/Stats/Artist/lifetime" class="btn btn-info">lifetime</a>
        </div>
    </div>
    <div class="card" style="margin-top:20px;margin-left:50px;margin-right:50px;margin-bottom:20px;">
        <h5 class="card-header">Your Top Tracks 🎵</h5>
        <div class="card-body">
            <h5 class="card-title">What are your top listened tracks 🤔</h5>
            <p class="card-text">These also have the same time options as the previous option. you can filter with 4
                weeks, 6 months or a lifetime!</p>
            <p class="card-text">You can check the top tracks for the past 4 weeks, 6 months or lifetime!</p>
            <a href="/Stats/Tracks/four-weeks" class="btn btn-success">4 weeks</a>
            <a href="/Stats/Tracks/six-months" class="btn btn-primary">6 months</a>
            <a href="/Stats/Tracks/lifetime" class="btn btn-info">lifetime</a>
        </div>
    </div>
    <div class="card" style="margin-top:20px;margin-left:50px;margin-right:50px;margin-bottom:20px;">
        <h5 class="card-header">Your recently played tracks ▶️</h5>
        <div class="card-body">
            <h5 class="card-title">What have you been upto {{user}} 🦊</h5>
            <p class="card-text">This is self explantory, come on!</p>
            <a href="/Stats/recently-played" class="btn btn-primary">See recently played tracks</a>
        </div>
    </div>
    <footer class="bg-dark text-center text-lg-start fixed-bottom">
        <a class="text-light">made with ❤️ by <a class="link-info"
                href="https://realhardik18.github.io">Realhardik18</a></a>
    </footer>

</html>